{{define "page"}}
<h1>Welcome to my awesome site!</h1>

{{template "lorem"}}
{{template "lorem"}}
{{template "lorem"}}
{{template "lorem"}}
{{end}}

{{define "lorem"}}
  <p>去年今日此門中，<br/>人面桃花相映紅。<br/>人面不知何處去，<br/>桃花依舊笑春風。</p>
{{end}}
