{{define "page"}}
  <form action="/users" method="post">
    <div class="input-group">
      <label>Email Address</label>
      <input />
    </div>
    <div class="input-group">
      <label>Password</label>
      <input />
    </div>
    <div>
      <button type="submit">Sign up</button>
    </div>
  </form>
{{end}}
